.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  text-align: center;
  background: white;
}

.h1 {
  font-size: 160px;
  font-family: 'Inter', sans-serif;
  margin: 0;
  color: crimson;
  font-weight: 800;
}

.p {
  font-size: 32px;
  font-weight: 600;
  color: black;
}

.br {
  font-size: 20px;
  margin: 0;
  color: black;
  font-weight: 500;
}
